/**
 * variables.scss
 *
 * SASS global variables used by the rest of the project.
*/




// Percentages used for math.
$hundred : 100%;




// Media Queries 
$mobileWidth : 12em;
$tabletWidth : 24em;
$desktopWidth : 48em;




// Font Sizes
$mobileFont : 1em;
$tabletFont : 1.125em;
$desktopFont : 1.25em;